PORTAL_URL="https://chords.url.com/"
PORTAL_NAME="Portal Name"
DATA_PATH="C:\\path\\to\\local\\storage\\"
INSTRUMENT_IDS="[1,2,3]"
USER_EMAIL="your@email.com"
API_KEY="your-api-key"
START="YYYY-MM-DD HH:MM:SS"
END="YYYY-MM-DD HH:MM:SS"
OUTPUT="csv"

INCLUDE_TEST="False"
COLUMNS_DESIRED="[]"
TIME_WINDOW_START=""
TIME_WINDOW_END=""